@tailwind base;
@tailwind components;
@tailwind utilities;
:root{

}
body {
    background: linear-gradient(180deg, #131862 0%, #000000 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}


@font-face {
    font-family: 'Abyssinica SIL';
    src: url('src/assets/AbyssinciaSIL-Regular.ttf') format('truetype');
}






